.rown {
	margin: 5px 0;
}
#pcharacter {
	padding: 20px 0 0 0;
	margin: 0 auto;
	text-align: center;
	height: 920px;
}
.charatte {
	margin: 0;
	float: left;
	width: 450px;
}
.charapf {
	padding: 0 30px 0 0;
	text-align: center;
	margin: 0 60px;
}
.charapf h2 {
	font-size: 40px;
	color: #C6C6C6;
	margin: 0 0 30px 0;
	padding: 60px 0 0 0;
}
.charapf h3 {
	font-size: 20px;
	color: #C6C6C6;
	margin: 0 0 10px 0;
}
.charapf h4 {
	font-size: 15px;
	color: #C6C6C6;
	margin: 70px 0 0 0;
}
.ChangeElem_Panel {
	display: none;
}
.ChangeElem_Btn {
	height: 25px;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	padding: 1px 12px;
	margin: 5px 6px;
	appearance: none;
	color: #C6C6C6;
	font-size: 13px;
	border: solid 1px #C6C6C6;
}
.ChangeElem_Btn:hover {
	color: #A2A2A2;
	border: solid 1px #A2A2A2;
}
@media screen and (max-width: 800px) {
	.timg {
		width: 70%;
		height: 70%;
	}
	#pcharacter {
		height: auto;
	}
	.charatte {
		margin: 0 30px 0 0;
		float: none;
		width: auto;
	}
	.charapf {
		padding: 0 30px 0 0;
		text-align: center;
		margin: 0 10px;
	}
	.timg {
		width: 70%;
		height: 70%;
	}
	.charapf h2 {
		font-size: 35px;
		margin: 0 0 10px 0;
		padding: 20px 0 0 0;
	}
	.charapf h3 {
		font-size: 20px;
		margin: 0 0 10px 0;
	}
	.charapf h4 {
		margin: 20px 0 40px 0;
	}
}