@charset "UTF-8";
a {
	color: #C6C6C6;
	text-decoration: none;
	font-size: 13px;
}
body {
	margin: 0;
	background: #000000;
	font-size: 12px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
}
h1, h2, h3 {
	margin: 0;
}
#wrapper {
	background: #000000;
	width: 100%;
	margin: 0 auto;
}
#header {
	width: 100%;
	padding: 0;
	background: #000000;
	overflow: hidden;
	border-bottom: 1px solid #C6C6C6;
	margin: 0 auto;
	z-index: 1;
	position: fixed;
}
#navi {
	float: right;
	margin-right: 30px;
}
#header li {
	list-style-type: none;
	float: left;
	margin-left: 80px;
	padding:0 0 5px 0;
}
#header a {
	color: #C6C6C6;
	text-decoration: none;
	font-size: 13px;
}
#header a:hover {
	color: #A2A2A2;
}
#content {
	margin: 0 auto;
	width: auto;
	overflow: hidden;
	padding: 40px 10px 0 10px;
}
#footer {
	width: 100%;
	text-align: center;
	background: #000000;
	margin: 0;
	padding: 10px 0;
	border-top: solid 1px #C6C6C6;
}
#footer h6 {
	color: #A8A8A8;
	font-size: 12px;
	margin: 5px 0;
}
#gallerypage {
	margin: 0 auto;
}
#prev {
	float: left;
	margin: 10px 0 10px 200px;
}
#next {
	float: right;
	margin: 10px 200px 10px 0;
}
#prev a {
	font-size: 20px;
}
#next a {
	font-size: 20px;
}
#prev a:hover {
	color: #A2A2A2;
}
#next a:hover {
	color: #A2A2A2;
}
#aboutpage {
	height: 600px;
	margin: 150px 0 0 0;
}
#aboutpage h4 {
	color: #C6C6C6;
	margin: 0;
	text-align: center;
	font-size: 15px;
	font-weight: lighter;
	padding: 10px 0;
}
#aboutpage h4 a {
	color: #C6C6C6;
	font-size: 15px;
}
#aboutpage h4 a:hover {
	color: #A2A2A2;
}
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease-in;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fadeIn {
	animation-name: fadeIn;
}
@media screen and (max-width:800px) {
	#header {
		padding: 1px 0;
	}
	#navi {
		width: auto;
		float: right;
		margin-right: 15px;
	}
	#header li {
		margin-left: 20px;
	}
	#content {
		padding: 40px 10px 0 10px;
	}
	#prev {
		float: left;
		margin: 10px 0 10px 200px;
	}
	#next {
		float: right;
		margin: 10px 200px 10px 0;
	}
}
@media screen and (max-width:500px) {
	#header {
		padding: 1px 0;
	}
	#navi {
		width: auto;
		float: right;
		margin-right: 15px;
	}
	#header li {
		margin-left: 20px;
	}
	#content {
		padding: 42px 10px 0 10px;
	}
	#prev {
		float: left;
		margin: 10px 0 10px 20px;
	}
	#next {
		float: right;
		margin: 10px 20px 10px 0;
	}
}